.contactContainer {
padding: 2%;
}

.mailBtn {
  text-decoration: none;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.mailBtn > button {
  text-decoration: none;
  cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
  margin-left: 19.3%;
}

@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}

.contactContainer > h3{
  margin-left: 20%;
}

.contactContainer > p{
  margin-left: 20%;
}